<table style="width: 300px;" border="0" cellspacing="5" cellpadding="5"
	align="center">
	<tbody>
		<tr class="header2">
			<td style="text-align: center;">
				<h1>
					<strong>Phone Guard 1.0</strong>
				</h1>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<h3>
					<strong>by Random Robot Softworks</strong>
				</h3>
				<p>
					<a href="http://www.2rsoftworks.de" target="_blank">www.2rsoftworks.de&nbsp;</a>
				</p>
				<p>&nbsp;</p>
			</td>
		</tr>
		<tr class="tableRow1 header1">
			<td style="text-align: center;">
				<h3>
					<strong>Coding by:</strong>
				</h3>
				<p>Katharina Sabel</p>
				<p>Leander Sabel</p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr class="tableRow1 header1">
			<td style="text-align: center;">
				<h3>
					<strong>Artwork by:</strong>
				</h3>
				<p>Julie Rae-Clarke</p>
				<p>
					<a href="fb://profile/211415288969068" target="_blank">facebook.com/jrcartoons</a>&nbsp;
				</p>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center;">Please report any bugs you find
				here:<br /> <a
				href="https://bitbucket.org/2rSoftworks/phone-guard/issues?status=new&status=open"
				target="_blank">Issue Tracker</a>&nbsp;
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align: center;">If you like this app be sure to
				check out our other work. Thank you very much!</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td style="text-align: center;">
				<p>Phone Guard is free software: you can redistribute it and/or modify
    		it under the terms of the GNU General Public License as published by
    		the Free Software Foundation, either version 3 of the License, or
    		(at your option) any later version.</p>

    		<p>This program is distributed in the hope that it will be useful,
    		but WITHOUT ANY WARRANTY; without even the implied warranty of
    		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    		GNU General Public License for more details.</p>

    		<p>You should have received a copy of the GNU General Public License
    		along with this program. If not, see <a href="http://www.gnu.org/licenses/">www.gnu.org/licenses</a></p>
    		
    		<p>The third version of the GNU GENERAL PUBLIC LICENSE is available <a href="gpl.txt">here</a></p>
    </td>
		</tr>
	</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>